body{font-family: 'Oswald', sans-serif;}
body p{font-family: 'Open Sans Condensed', sans-serif;}
/*-------------navbar----------------*/
.top-bar{height: 50px; background: rgb(78, 105, 194); 
align-items: center; color:white;}
.d{display:flex; justify-content:space-between; flex-wrap:wrap;}
.top-bar .left i{margin: 5px; line-height: 50px;}
.top-bar .left i:hover{color:white;}
.top-bar .right i{margin: 10px; background: rgb(78, 105, 194); padding: 10px;
    border-radius: 100%;}
.top-bar .right i:hover{color:white; background:red;}
a{text-decoration: none; color:white;}
.header-content{position: absolute; top: 20%; left: 50%; 
transform: translate(-50%, 50%); text-align: center; 
color:rgb(250, 8, 8);}
.header-content h1{font-size: 60px; text-transform: uppercase;}
.header-content p{font-size: 30px; color:white;}
.content-btn{background:darkblue!important; color: white; width:150px;
     padding:10px; border-radius: 30px; }
.carousel-inner{background: blue; height: 100%;}
.carousel-inner .carousel-item img{opacity: 0.6;}
.carousel-item img{height: 100vh;}
.navbar .nav-item{margin:10px; text-transform: capitalize!important;}
@media(max-width:768px){
    .navbar .nav-item{margin:5px;}
    
    .header-content h1{font-size: 30px;}
.header-content p{font-size: 15px; }
}
@media(max-width:576px){
.top-bar{display:none!important;}
.header-content h1{font-size: 30px;}
.header-content p{font-size: 15px; }
.content-btn{ width:100px; padding:5px; border-radius: 15px; font-size: 15px;}
}
/*------------wave effect--------------*/

.bg{
    position: relative;
    width: 100%;
    height:15vh;
    background:#e7eaee;
    overflow: hidden;
}
.bg .wave{
position: absolute;
bottom: 0;
left: 0;
width:100%;
height: 100px;
background: url(../img/wave.png); 
transform: rotate(180deg);
background-size: 1000px 100px;
}
.bg .wave.wave1{
animation: animate 30s linear infinite;
z-index: 1000;
opacity: 0.6;
animation-delay: 2s;
bottom: 0;

}
.bg .wave.wave2{
animation:animate2 15s linear infinite;
z-index: 999;
opacity: 0.5;
animation-delay: -5s;
bottom: 5px;
} 
.bg .wave.wave3{
animation:animate 33s linear infinite;
z-index: 998;
opacity: 0.2;
animation-delay: -2s;
bottom: 10px;
} 
.bg .wave.wave4{
animation:animate2 5s linear infinite;
z-index: 997;
opacity: 0.7;
animation-delay: -3s;
bottom: 15px;
} 
@keyframes animate{
0%{
background-position-x: 0;
}
100%{
background-position-x: 1000px;
}
}
@keyframes animate2{
0%{
background-position-x: 0;
}
100%{
background-position-x: -1000px;
}
}
/*-------------owl carousel---------------*/
.container .owl-nav{
    position: absolute;
    top: -15%;
    margin: 0 auto;
    width: 100%;
}
.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    background: transparent;
    font-size: 2rem;
    color:black;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color:gray;
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}
.card .card-img-top{-webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0); background:red!important;}
.card .card-img-top{opacity: .8;}
/*--------------about us---------------------*/
.about{padding:100px 0; background:#e7eaee;}
.about .col-lg-6{padding:10px;}
.box {width:100%; height:100%;overflow: hidden;}
.box  img{transition: all linear 2s; }
.hv:hover img{transform: scale(1.5);}
.main-content{padding:0 30px;}
.main-content h5{line-height: 25px;}
.about-content{margin-bottom: 50px;}
/*-------------pop up gallery-----------------*/
.gallery{background:rgb(219, 218, 218); padding:50px 0;}
.popup img {width: 100%; height: 250px;}
.gallery .col-lg-4{padding:5px;}
/*---------------------------services---------------*/
.service{padding:50px 0;}
/*---------------pricing------------------*/
.price{padding:50px 0;}
.price .col-lg-4{padding:5px;}
.pricing{padding: 10px; box-shadow: 2px 2px 10px lightgray;}
.pricing h3{color:#37517e; margin-bottom: 20px; font-size: 20px; font-weight: bolder;}
.pricing .card-body h4{position: relative; color:#37517e; font-size: 25px;  
font-weight: bolder; bottom:0; left: 0;}
.pricing .card-body span{position: absolute; color:#37517e;font-size: 40px;
    top:70px; left: 45px;}
h6{color:#37517e; font-size: 20px; margin-top: 50px; font-weight: bolder;}
.pricing .card-body ul{list-style: none; padding:0; margin-top: 20px;}
.pricing .card-body ul li{position:relative; margin:10px; font-weight:normal;
    font-family: 'Open Sans Condensed', sans-serif;}
.pricing .card-body ul li:before{content:"\f00c"; position: absolute; top:0; left:0; 
color:green;  font-family: "Font Awesome 5 Free"; font-weight: 900;}
.trans{background:none; border:1px solid rgb(13, 174, 214);  width:150px;
    padding:10px; border-radius: 30px;}
.trans, .price-button{width:150px; border-radius: 30px; margin: 20px 0; font-size: bolder;}
@media(max-width:768px){
    .trans, .price-button{width:120px; border-radius: 30px; font-size:normal;
padding:0; height: 40px!important;}
    }
/*----------------contact us------------------*/
.contact{padding:50px 0;}
.fa-2x{color:rgb(13, 174, 214); padding:20px; border-radius: 100%; 
    border:2px dotted rgb(13, 174, 214);}
.shadow{box-shadow: 2px 2px 10px lightgray; padding: 10px 0;}
.shadow iframe{width:100%; height: 410px; padding:0 2px;}
.form-control{margin-top:1px!important;}
.contact .col-md-12{padding:10px;}
/*-------------------footer-------------------*/
.footer{background: #37517e;}
.main{background: rgb(13, 174, 214); color: white; padding: 12px 2px; margin-top: 0; }	
input{width: 80%; padding: 0px 3px; margin-top: 25px; margin-right: 0px;}
button{width: 20%; height:55px;  background: #37517e; color: white; 
border: none; margin-left: -4px; padding:10px 0; margin-top: 5px;}
h2{color: white; text-transform: capitalize;}
.a1{color:white; padding: 20px 5px;}
.a1 p{margin-top: 10px; line-height: 25px; padding: 10px 0; }
.a2{ color: white; padding: 20px 5px;}
.a2 ul{list-style: none; color: white; padding:0;}
.a2 ul li{  margin-top: 20px;}
.a2 ul li a {color: white; text-decoration: none;}
.a3 { color: white; padding: 20px 5px;}
.a3 ul{list-style: none; color: white; padding:0;}
.a3 ul li{  margin-top: 20px;}
.a3 ul li{display: flex;justify-content: space-between; margin-top: 20px;
border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
.a3 ul li a {color: white; text-decoration: none;}
a{text-transform: capitalize; color: white;}
.a4{ padding: 20px 5px; color: white;}
.a4 i{margin-top: 12px;}
.a4 p{padding:0; margin-top: 7px;}
.a4  a{width: 40px; height: 40px; border-radius: 100%; background: blue; display: inline-block; text-align: center; margin-top: 60px; margin-left: 6px; }
 .a4 .aa{background: #1d276f;}
.a4 .ab{background: #980f7b;}
.a4 .ac{background: #f52807;}
.a4 .ad{background: #69cfd4;}
.a4 h2{margin-bottom: 10px;}
.last{background:rgb(13, 174, 214);}
.last .container .copyright{color:white!important; display: flex; justify-content: space-between;
align-items: center; }
.last .container .copyright p{padding:10px; margin:0;}
@media(max-width:500px){
    .last .container .copyright p{font-size: 10px;}
}
